/* Clock.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; ← remova ou comente esta linha */
  margin: 10px 0;
}

.clockBox {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  text-align: center;
  color: #333;
  animation: scaleUp 0.3s forwards;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
